<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <p><a href={% url 'show_book_details' book.pk %}> 
          {{ book.title }}
        </a>
      <h1><a href={% url 'update' book.pk %}>Edit</a>
      </h1>

      </p>
        <p>{{ book.title }}</p>
        <p>{{ book.author.first }}</p>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
        <p> <img src= {{ book.image }} width=300></p>
       </div>
    {% endfor %}
  </main>
</body>

</html>