<!DOCTYPE html>
<html>

<head>
    <title>Show Book</title>
</head>

<body>
    <header></header>
    <main> 

 
        <div class="book-card">
          <h1>{{ book.title }}</h1>
          <h2>{{ book.author.first }}</h2>
          <p>{{ book.pages }}</p>
          <p>{{ book.isbn }}</p>
          <p>{{ book.description }}</p>
          <p> <img src= {{ book.image }} width=300></p>
         </div>


</main>
</body>

</html>