<!DOCTYPE html>
<html>

<head>
    <title>Update</title>
</head>

<body>
    <header></header>
    <main>
    <div>
        <h1> Update a book</h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
      
        {{ form.as_p }}
          
        <input type="submit" value="Submit">
    </form>
</main>
</body>

</html>