<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete magazine</title>
</head>
<body>
    <header>
        <h1>Delete {{ magazine }}</h1>
    </header>
    <main>
        <div>
            <form method = 'POST' enctype = 'multipart/form-data'>
                {% csrf_token %}
                <p>Are you sure you want to delete {{ magazine }} ?</p>
                <input type='submit' value='Delete'>
                <p><a href={% url 'magazines_list'%}>Cancel</a></p>
        </div>
    </main>
</body>
</html>  