<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header></header>
    <main> 
        <div class= 'magazines_card'>
            <h2>{{genre_var.genre_name}}</h2>
            {% for magazine in genre_var.genre.all%}
            <h3>Magazines:{{magazine.title}}</h3>
            {% endfor %}
        </div>

 



</main>
</body>

</html>