<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for magazine in magazines %}
    <div>
        <p>{{ magazine.title }}</p>
        <p>{{ magazine.release_cycle }}</p>
        <p>{{ magazine.description }}</p>
        <p> <img src= {{ magazine.cover_image }} width=300></p> 
        <p><a href ={% url 'show_magazine_details' magazine.pk%}>
          {{magazine.title}}
        </a>
    </div>
    {% endfor %}
  </main>
</body>

</html>