<!DOCTYPE html>
<html>

<head>
    <title>Show Magazine</title>
</head>

<body>
    <header></header>
    <main> 

 
        <body>
            <header>
              <nav>
              </nav>
            </header>
            <main>
              <div class="magazine-card">
                <p>{{ magazine.title }}</p>
                {% for issue in magazine.issues.all %}
                  <p>Issue: {{ issue.title }}</p>
                {% endfor %}
                <p>{{ magazine.description }}</p>
                <p>{{ magazine.release_cycle }}</p>
                <p> <img src= {{ magazine.cover_image }} width=300></p>

              </div>
            </main>
          </body>
            
   
         </div>


</main>
</body>

</html>